* {padding: 0;
margin: 0;
box-sizing: border-box;
} 

header {
height: 80px;
width: 1500px;
z-index: 999;
margin: 0px 50px;
background-color: black;
}

body{
    background-color: #0E0E0E;
    display: flex;
    flex-wrap: wrap;
}

.speakers-view, .speakers-arrows  {
border-radius: 5px;
padding:3px;
background-color: grey;
color: #ffff;
font-weight: bold;
}

.speakers-view{
position: absolute;
right: 28px;
}

.speakers-arrows {
position: absolute;
right: 3px;  
}

/*inizio main*/

main{
    background-color: black ;
    margin: 0px 50px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.container {
    margin: 0px 2px;
}

img {
    width: 160px;
    height 70px;
  }

.tag {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffff;
    
    bottom: 5%;

}






